#footer {
    background-color: rgb(246,247,249);
    width: 100%;
    color: black;
    height: auto;
    padding: 0px 0 0 0;
    overflow: hidden;
    box-sizing: border-box;
    font-family: Arial;
    font-size: 18px;
    line-height: 30px;
    height: fit-content !important;
}

.logo-container {
    width: 35%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 60px;
    height: auto;
}

/* .footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
} */