/* #intro {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 2rem;
} */

#infoDiv {
  display: flex;
  flex-direction: column;
  height: 45vw;
  width: 500px;
  align-items: center;
  justify-content: center;
  margin-left: 3vw;
}

.introBtn {
  width: 200px;
  margin: 10px;
  border: 2px solid #091133;
  box-sizing: border-box;
  border-radius: 2px;
  height: 30px;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  background-color: white;
}

#contactUsBtn {
  background-color: #091133 !important;
  border-radius: 2px;
  color: white;
}

#introHeader {
  font-family: Arial Black;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 49px;
  letter-spacing: 2px;
}

#introSubheader {
  text-align: center;
  font-family: Arial Black;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 30px;
}

#infoText {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #505f98;
}

#logoDiv {
  flex-direction: column;
  height: 40vw;
  width: auto;
  align-items: center;
  justify-content: center;
  margin-left: 3vw;
  display: flex;
}

#introLogo {
  height: 200px;
  width: auto;
}