.serviceImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30%;
    width: 30%;
}

.centerText {
    text-align: center;
}

#service {
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 15vh;
}