body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.sectionContainer {
  background-color: rgb(246, 247, 249);
  margin: 2vw 0;
  padding: 2vw 2vw;
  height: fit-content;
}

.sectionHeader {
  font-family: Arial Black;
  font-style: normal;
  font-weight: 900;
  font-size: 35px;
  padding-bottom: 2%;
}